.contacto {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin: 5%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 0.1;
    align-items: center;
    font-size: xx-large;
}

.contacto-columna {
    text-align: start;
    padding: 10px;
}

.contacto2 {
    position: relative;
    margin: 5%;
    margin-left: 15%;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    gap: 10px 15px; 
    line-height: normal;
}

.iglogo {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    color: black;
}