.footer-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Courier New', Courier, monospace;
    align-items: center; 
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}