.seccion {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 5%;
    margin-left: 15%;
    margin-right: 18%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    align-items: center;
}

.columna-uno {
    text-align: left;
    font-size: x-large;
}

.columna-dos {
    text-align: right;
}

.asuka {
    width: 100px;
    height: 150px;
}

@media (max-width: 768px) {
    .seccion {
        grid-template-columns: 1fr;
        margin: 10% 20px; 
    }

    .columna-uno {
        text-align: center; 
        margin-bottom: 20px;
    }

    .columna-dos {
        text-align: center; 
    }

    .asuka {
        display: none;
    }
}