
.banner {
    padding: 100px;
    border: solid black;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.text {
    background-color: yellow;
    padding: 30px;
}