
:root {
  --marker-color: #fda4a4; 
  --line-color: #666;      
  --text-color: #444;
  --marker-size: 50px;
}

h4 {
  margin: 50px;
  font-size: x-large;
}

.timeline-section {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 20px;
}

.timeline-flex {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;        
  position: relative;
  padding-top: 20px;
}

.timeline-flex::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--line-color);
  z-index: 0; 
}

.timeline-node {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;   
  padding: 0 10px;
  transition: 0.5s;
}

.marker {
  width: var(--marker-size);
  height: var(--marker-size);
  background-color: var(--marker-color);
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 0 8px #f9f9f9; 
  flex-shrink: 0;
  font-family: 'Courier New', Courier, monospace;

  display: flex;
  justify-content: center; 
  align-items: center;     
  
  font-weight: bold;
  font-size: 1.5rem;      
  color: #fff;            
}

.info {
  font-size: large;
  color: #000;
  line-height: 1.4;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.3s; 
}

.info strong {
  display: block;
  margin-bottom: 5px;
  color: #000;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.logos img {
  height: 30px;
  width: auto;
  object-fit: contain;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .timeline-flex {
    flex-direction: column;
    padding-left: 0;
  }

  .timeline-flex::before {
    top: 0;
    bottom: 0;
    left: 25px; 
    width: 2px;
    height: 100%;
    right: auto;
  }

  .timeline-node {
    flex-direction: row; 
    align-items: flex-start;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
  }

  .marker {
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .logos {
    justify-content: flex-start; 
  }
}