---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Proyectos from '../components/Proyectos.astro'; // Nueva importación
import Trayectoria from '../components/Trayectoria.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Hero />
  <Trayectoria />
  <Proyectos /> 
  <Tecnologias />
  <Contacto />
  <Footer />
  <!-- <footer class="minimal-footer">
    <p>&copy; 2026 Diego Arteaga Mendoza - Desarrollador Backend</p>
  </footer> -->
</Layout>