---
import '../styles/soon.css'
---

<section>

    <h4>Proyectos</h4>

    <div class="banner">

        <div class="text">
            <h1>Proyectos disponibles proximamente</h1>

            <p>
                Actualmente me encuentro trabajando para traerte las mejores ideas posibles!
            </p>
        </div>

    </div>

</section>