---
import '../styles/contactoform.css'
---

<section>

    <div class="contacto-columna">
        <form action="https://formsubmit.co/arteagamendozadiegodev@gmail.com" method="POST" class="formulario-contacto">
            
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="http://localhost:4321/"> <label for="nombre">Nombre</label>
            <input type="text" name="name" id="nombre" required placeholder="Tu nombre">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required placeholder="tu@email.com">

            <label for="mensaje">Mensaje</label>
            <textarea name="message" id="mensaje" rows="4" required placeholder="Escribe tu mensaje..."></textarea>

            <button type="submit">ENVIAR</button>
        </form>
    </div>

</section>