---
import '../styles/contacto.css';
import Form from '../components/contactoform.astro';
---

<section>

    <h4>Contacto y Redes Sociales</h4>

    <div class="contacto">
        <div class="contacto-columna">
            <Form />
        </div>
        
        <div class="contacto-columna contacto2">
            <img src="/iglogo.png" alt="Instagram Logo" class="iglogo">
            <div class="fila">arti_machtbrot</div>
            <img src="/LinkedIn.png" alt="Linkedin Logo" class="iglogo">
            <div class="fila">diegoarteagamendoza</div>
            <img src="/github.png" alt="GitHub Logo" class="iglogo">
            <div class="fila">DiegoArteagaMendoza</div>
        </div>
    </div>

</section>