---
import '../styles/contacto.css';
import Form from '../components/contactoform.astro';
---

<section>

    <h4>Contacto y Redes Sociales</h4>

    <div class="contacto">
        <div class="contacto-columna">
            <Form />
        </div>
        
        <div class="contacto-columna contacto2">
            <img src="/iglogo.png" alt="Instagram Logo" class="iglogo">
            <div class="fila"><a href="https://www.instagram.com/arti_machtbrot/">arti_machtbrot⭷</a></div>
            <img src="/LinkedIn.png" alt="Linkedin Logo" class="iglogo">
            <div class="fila"><a href="www.linkedin.com/in/diegoartagamendoza">diegoarteagamendoza⭷</a></div>
            <img src="/github.png" alt="GitHub Logo" class="iglogo">
            <div class="fila"><a href="https://github.com/DiegoArteagaMendoza">DiegoArteagaMendoza⭷</a></div>
        </div>
    </div>

</section>