---
import '../styles/footer.css';
import LogoDaam from '../components/logo.astro';
---

<footer class="min-v-screen py-20 my-10 block bg-gray-100">
    <div class="footer-div">
        <div class="footer-column">
            <LogoDaam />
        </div>

        <div class="footer-column texto">
            <h3 class="">Diego Arteaga Mendoza</h3>
            <h3 class="">Desarrollador Backend</h3>
        </div>
    </div>
</footer>