---
import LogoDaam from '../components/logo.astro';
import '../styles/header.css';
---

<header class="max-w-[1440px] mx-auto p-8 flex justify-between items-center bg-third">
    
    <a href="/">
        <LogoDaam />
    </a>

</header>