---
import '../styles/header.css'; 
---

<div class="daam-container">
    <div class="daam-circle c1"></div>
    <div class="daam-circle c2"></div>
    <div class="daam-circle c3"></div>
    <div class="daam-circle c4"></div>

    <div class="daam-text">
        <span>DA</span>
        <span>AM</span>
    </div>
</div>