---
// Importación de componentes
import QSH from '../components/quiensoyHeader.astro';
import TimeLine from '../components/timeline.astro'
import YO from '../components/yo.astro'
import Tecnologas from './tecnologías.astro';
---

<section class="timeline-section">
    
    <QSH />

    <YO />

    <TimeLine />

    <Tecnologas />
</section>