---
import { Image } from "astro:assets";
import Asuka from '../assets/Asuka_running.webp';
import '../styles/quiensoyHeader.css';
---

<section>
    <h4>¿Quien Soy?</h4>
    <!-- <div class="seccion">
        <div class="columna-uno">
            <h4>¿Quien Soy?</h4>
            <h1>¿Quien Soy?</h1>
        </div>
        <div class="columna-dos">
            <Image src={Asuka} alt="Gift" class="asuka" />
        </div>
    </div> -->
</section>