---
import '../styles/tecnologias.css'

import { Image } from 'astro:assets';
import Python from '../assets/python.png'
import Java from '../assets/java.png'
import Django from '../assets/django.png'
import Springboot from '../assets/springboot.png'
import Git from '../assets/git.png'
import GitHub from '../assets/github.png'
import JWTimg from '../assets/jwt.png'
import Astroimg from '../assets/astro.png'
---

<section>

    <h4>Tecnologías que Conozco y/o Ocupo</h4>

    <div class="grid-tecnologias">
        
        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Python } alt="Python" class="img"/> -->
                 <img src="/python.png" alt="" class="img">
                <span>Python</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Java } alt="Java" class="img"/> -->
                 <img src="/java.png" alt="" class="img">
                <span>Java</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Django } alt="Django" class="img"/> -->
                 <img src="/django.png" alt="" class="img">
                <span>Django</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Springboot } alt="Springboot" class="img"/> -->
                 <img src="/springboot.png" alt="" class="img">
                <span>Springboot</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Git } alt="Git" class="img"/> -->
                 <img src="/git.png" alt="" class="img">
                <span>Git</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ GitHub } alt="GitHub" class="img"/> -->
                 <img src="/github.png" alt="" class="img">
                <span>GitHub</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ JWTimg } alt="JWT" class="img"/> -->
                 <img src="/jwt.png" alt="" class="img">
                <span>JWT</span>
            </div>
        </div>

        <div class="tecnologia">
            <div class="info">
                <!-- <Image src={ Astroimg } alt="Astro" class="img"/> -->
                 <img src="/astro.png" alt="" class="img">
                <span>Astro</span>
            </div>
        </div>

    </div>

</section>