---
import '../styles/yo.css'
---

<section>

    <p>
        Como entusiasta de la tecnología y el desarrollo de software, he centrado mi carrera en dominar el ecosistema de Python y Django. Mi enfoque no solo está en escribir código limpio, sino en evolucionar constantemente: busco aprender algo nuevo cada día para aportar soluciones innovadoras. Creo firmemente en el poder del trabajo en equipo y la comunicación proactiva como motores principales para el desarrollo de software de alta calidad.
    </p>

</section>